            <!-- footer content -->
            <footer>
              <div class="pull-right">
                  PodwysockiCMS - designed and coded by <a href="http://podwysockidesign.pl"> PodwysockiDESIGN </a>
              </div>
              <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
          </div>
        </div>